

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;

}
.navbar ul a{
    padding: 20px;
    text-decoration: none;
    color: white;
}
.navbar ul a:hover{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}
.bar{
    padding: 10px;
    margin-top: 5px;
    height: 80px;
    background-color: #f05800;
}




.carousel-item{
    height: 700px;
    overflow: hidden;
}
.carousel-caption{
    color: black;
    position: absolute;
    top: 40%;
    bottom: 40%;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 1.2em;
}
/* styling form  */

.frm{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 9px gray;
}
.frm:hover{
    font-size: 1.1em;
}


.foot{
    height: 200px;
    overflow: hidden;
}
.foot img{
    min-width: 100%;
}